# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
Dist/
*.egg-info/
*.egg

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environments
env/
.venv/
ENV/
env.bak/
venv.bak/

# VS Code
.vscode/

# Data folder (exclude everything under it)
data/

# OS-specific caches
.DS_Store
Thumbs.db

# Exclude download_spectra script
src/download_spectra.py

# Exclude giant catalog files that exceed git limits
cataloges/gal_line_dr7_v5_2.fit.gz

# Exclude temporary output directories
outputs/
